[submodule ".zsh.d/zsh-completions"]
	path = .zsh.d/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh.d/zaw"]
	path = .zsh.d/zaw
	url = https://github.com/zsh-users/zaw
[submodule ".zsh.d/dircolors-solarized"]
	path = .zsh.d/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
